$color-primary: #0A1832;
$color-secondary: #4B5566;
$color-tertiary: #C1C6CF;
$color-wash:#FAFAFA;
$color-accent: #2E77FF;

$mint: hsl(157, 84, 95);
$darkblue: hsl(199, 85.3, 13.3);
$yellow: rgba(245, 215, 110, .5);
$whisper: hsl(18, 25%, 92%);
$cinderella: hsl(12, 100%, 98%);
$cinder: hsl(220, 21%, 16%);
$white: hsl(255, 100%, 100%);
$blond: hsl(56, 100%, 92%);
$blue: hsl(202, 97%, 81%);
$indian-red: hsl(355, 50%, 56%);
